$color-white: #fff;
$color: #f6f9f9;
$color-blue-dark: #2d3950;
@mixin padding-top($value) {
	padding-top: $value;
}
@mixin minheight() {
	min-height: 560px;
}
@mixin h3() {
	h3{
		color: $color-blue-dark;
		margin-bottom: 20px;
	}
}
@mixin flex() {
	.flex-container{
		padding: 10px 0px;
		display: flex;
		justify-content: space-between;
	}
}
@mixin add() {
	.add{
		margin-top: 15px;
	}
}
@mixin title() {
	.title{
		width: 25%;
		font-weight: bold;
	}
}
@mixin edit() {
	.edit{
		margin-left: 15px;
	}
}
@mixin remove() {
	.remove{
		margin-right: 15px;
	}
}
@mixin btn() {
	.btn{
		margin-left: 5px;
	}
}
@mixin btn-update() {
	.btn-update{
		float: left;
	}
}
@mixin btn-cancel() {
	.btn-cancel{
		float: right;
	}
}
@mixin btn-add() {
	.btn-add{
		margin: 10px 0px;
		width: 100%;
	}
}
@mixin btn-remove() {
	.btn-remove{
		float: right;
	}
}

body{
	background: $color-white;
}

td{
	max-width: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.navbar{
	background-color: $color;
	position: fixed;
	top: 0;
	z-index: 1;
	.navbar-toggle{
		background-color: transparent;
		margin-top: 15px;
		span{
			background-color: $color-blue-dark;
		}
	}
	.collapse{
		float: right;
	}
	.navbar-nav{
		a{
			color: $color-blue-dark;
		}
		li{
			padding-top: 10px;
		}
	}
}
.banner{
	@include minheight;
	@include padding-top(45px);
	@include h3;
	@include add;
	@include title;
	@include edit;
	@include remove;
	@include flex;
}
.edit-banner{
	@include minheight;
	@include padding-top(85px);
	@include btn-cancel;
	@include btn-update;
}

.add-banner{
	@include minheight;
	@include padding-top(85px);
	@include h3;
	@include btn-add;
}

.simple{
	@include minheight;
	@include padding-top(45px);
	@include h3;
	@include flex;
	@include add;
	@include title;
	@include edit;
	@include remove;
}

.edit-simple{
	@include minheight;
	@include padding-top(85px);
	@include btn-cancel;
	@include btn-update;
}

.message{
	@include minheight;
	@include padding-top(45px);
	@include h3;
}
.info-message{
	@include minheight;
	@include padding-top(85px);
	@include h3;
	@include btn-remove;
}

.social{
	@include minheight;
	@include padding-top(85px);
	.form-control{
		width: 80%;
	}
	@include btn;
	@include flex;
}
.coppy{
	color: $color-blue-dark;
	float: left;
	clear: both;
	padding-top: 25px;
}
.icon-social{
	.fa{
		float: right;
		padding-top: 15px;
		height: 40px;
		width: 40px;
		border-radius: 3px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		margin: 18px 2px;
		font-size: 15px;
		background-color: #15a4fa;
		color: $color-white;
		&:hover{
			color: #0b91e1;
		}
	}
}